dotenv
googletrans==4.0.0-rc1
GPUtil
loguru
num2words
numpy<2
pandas
psutil
pyannote.audio>=3.1.0
pydantic
pyopenjtalk-dict
pyworld-prebuilt
requests
streamlit
torch<2.4
torchvision
transformers
umap-learn