cmudict
cn2an
dotenv
g2p_en
jieba
localtunnel
loguru
num2words
numpy<2
psutil
onnxruntime
pyannote.audio>=3.1.0
pydantic
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
requests
streamlit
torch
torchaudio
torchvision
transformers
umap-learn
