cmudict
cn2an
dotenv
g2p_en
googletrans==4.0.0-rc1
jieba
loguru
num2words
numpy<2
psutil
onnxruntime
pyannote.audio>=3.1.0
pydantic
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
requests
torch
torchaudio
torchvision
transformers
umap-learn
